body {
    width:100%;
}


#Menu {
    float:left;
    width:10%;
    border-right:1px solid gray;
}

#Content {
    float: left;

    padding:20px;
}


.title {
    margin-top:0px;
    margin-bottom:10px;
    font-weight: bold;
}